<!DOCTYPE html>
<html>
<head>
    <title>Change</title>
</head>
<body>
    <h1>Change</h1>

    {% if form == None %}
    {% if file.errors %}
        <p style="color: red;">
            Please correct the error{{ file.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ file.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

    {% else %}

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" method="post">
        <table>
            <input name = "key" value="{{ name_f_edit }}">
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

    {% endif %}

</body>
</html>